*{
    padding:0;
    margin: 0;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.sk{
    margin-top:5%;
    text-align: center;
    font-size:xx-large;
}

div{
    margin-left: 20px;
    margin-right: 20px;
    padding:10px;
}

.overskrift{
    margin-left: 15px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 50px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-left: 15px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .farve{
      background-color: #90a0b1b9;
  }


  button{
    background-color:#d57070;
    padding:2% 4%;
    border-radius:4%;
    border:none;
  }

  .send{
    text-decoration:none;
    color:white;
    font-size:large;
  }

  button:hover{
    background-color:#ae5c5c;
  }


  .sent{
    text-align:right;
  }